<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="DK1BfFm674xgWGyHQ7uja1ZvXQCG1AVR" />
        <add key="ApiClient.ClientSecret" value="7uUZwA4gwLZDXYWu" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300" />
        <add key="ApiClient.AccessToken" value="G0l9Tu36GE06RRaAxKQDxaMvGlum" />
        <add key="ApiClient.RefreshToken" value="aRCdWhL9EImOkNnIFTLjuDjU0Lw2Ns6O" />
        <add key="ApiClient.ExpirationDateTime" value="2021-10-14T18:55:58.1016445-04:00" />
    </appSettings>
</configuration>
