<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="YjBVYQaPQnCv5Cb5XGWm2HInkM4p6Sef" />
        <add key="ApiClient.ClientSecret" value="YGACcLio6QPt98Az" />
        <add key="ApiClient.RedirectUri" value="http://localhost:44300" />
        <add key="ApiClient.AccessToken" value="p9haeUcuYP69WT48JflMrLywtysH" />
        <add key="ApiClient.RefreshToken" value="xCK6lJGSEAwPhm8AkGAML9m1aUUXDBF3" />
        <add key="ApiClient.ExpirationDateTime" value="2021-10-07T00:20:15.2648573-04:00" />
    </appSettings>
</configuration>
