<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="DK1BfFm674xgWGyHQ7uja1ZvXQCG1AVR" />
        <add key="ApiClient.ClientSecret" value="7uUZwA4gwLZDXYWu" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300" />
        <add key="ApiClient.AccessToken" value="xFVpLrlvw9ATe6t6Pt2ORS7w2WS2" />
        <add key="ApiClient.RefreshToken" value="myIcAC8FOmiyXC2G5fvOmqf9tsBXKX96" />
        <add key="ApiClient.ExpirationDateTime" value="2021-10-12T13:50:39.6149190-04:00" />
    </appSettings>
</configuration>
